
@{
    ViewBag.Title = "Inteligencia";
}

<body>
    <hr class="featurette-divider">
    <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light" style="background-image:url(../../Content/img/cara.jpg)">
        <div>
            <h1 class="display-4 text-white">Test inteligencia emocional</h1>
            <p class="lead text-white">Este test le ayudara a conocer sus puntos fuertes y debiles</p>
        </div>
    </div>
    <hr class="featurette-divider">

    <form>
        <legend>Conteste las preguntas segun su criterio</legend>

        <legend>1. Presto mucha atencion a los sentimientos</legend>
        <input type="radio" id="n1" name="p1" value="5" /> Muy Frecuentemente
        <br /><br />
        <input type="radio" id="n2" name="p1" value="4" /> Con bastente frecuencia
        <br /><br />
        <input type="radio" id="n3" name="p1" value="3" /> Algunas veces
        <br /><br />
        <input type="radio" id="n4" name="p1" value="2" /> Raramente
        <br /><br />
        <input type="radio" id="n5" name="p1" value="1" /> Nunca
        <br /><br />

        <legend>2. Normalmente me preocupo mucho por lo que siento</legend>
        <input type="radio" id="n6" name="p2" value="5" /> Muy frecuentemente
        <br /><br />
        <input type="radio" id="n7" name="p2" value="4" /> Con bastante frecuencia
        <br /><br />
        <input type="radio" id="n8" name="p2" value="3" /> Algunas veces
        <br /><br />
        <input type="radio" id="n9" name="p2" value="2" /> Raramente
        <br /><br />
        <input type="radio" id="n10" name="p2" value="1" /> Nunca
        <br /><br />

        <legend>3. Normalmente dedico tiempo a pensar en mis emociones</legend>
        <input type="radio" id="n11" name="p3" value="5" /> Muy frecuentemente
        <br /><br />
        <input type="radio" id="n12" name="p3" value="4" /> Con bastente frecuencia
        <br /><br />
        <input type="radio" id="n13" name="p3" value="3" /> Algunas veces
        <br /><br />
        <input type="radio" id="n14" name="p3" value="2" /> Raramente
        <br /><br />
        <input type="radio" id="n15" name="p3" value="1" /> Nunca
        <br /><br />

        <legend>4. Pienso que merece la pena prestar atencion a mis emociones y estado de animo</legend>
        <input type="radio" id="n16" name="p4" value="5" /> Muy frecuentemente
        <br /><br />
        <input type="radio" id="n17" name="p4" value="4" /> Con bastente frecuencia
        <br /><br />
        <input type="radio" id="n18" name="p4" value="3" /> Algunas veces
        <br /><br />
        <input type="radio" id="n19" name="p4" value="2" /> Raramente
        <br /><br />
        <input type="radio" id="n20" name="p4" value="1" /> Nunca
        <br /><br />

        <legend>5. Dejo que mis sentiemientos afecten a mis pensamientos</legend>
        <input type="radio" id="n21" name="p5" value="5" /> Muy frecuentemente
        <br /><br />
        <input type="radio" id="n22" name="p5" value="4" /> Con bastente frecuencia
        <br /><br />
        <input type="radio" id="n23" name="p5" value="3" /> Algunas veces
        <br /><br />
        <input type="radio" id="n24" name="p5" value="2" /> Raramente
        <br /><br />
        <input type="radio" id="n25" name="p5" value="1" /> Nunca
        <br /><br />

        <legend>6. Pienso en mi estado de animo constantemente</legend>
        <input type="radio" id="n26" name="p6" value="5" /> Muy frecuentemente
        <br /><br />
        <input type="radio" id="n27" name="p6" value="4" /> Con bastente frecuencia
        <br /><br />
        <input type="radio" id="28" name="p6" value="3" /> Algunas veces
        <br /><br />
        <input type="radio" id="n29" name="p6" value="2" /> En Raramente
        <br /><br />
        <input type="radio" id="n30" name="p6" value="1" /> Nunca
        <br /><br />

        <legend>7. A menudo pienso en mis sentiemientos</legend>
        <input type="radio" id="n31" name="p7" value="5" /> Muy frecuentemente
        <br /><br />
        <input type="radio" id="n32" name="p7" value="4" /> Con bastente frecuencia
        <br /><br />
        <input type="radio" id="n33" name="p7" value="3" /> Algunas veces
        <br /><br />
        <input type="radio" id="n34" name="p7" value="2" /> Raramente
        <br /><br />
        <input type="radio" id="n35" name="p7" value="1" /> Nunca
        <br /><br />


        <legend>8. Presto mucha atencion a como me siento</legend>
        <input type="radio" id="n36" name="p8" value="5" /> Muy frecuentemente
        <br /><br />
        <input type="radio" id="n37" name="p8" value="4" /> Con bastente frecuencia
        <br /><br />
        <input type="radio" id="n38" name="p8" value="3" /> Algunas veces
        <br /><br />
        <input type="radio" id="n39" name="p8" value="2" /> Raramente
        <br /><br />
        <input type="radio" id="n40" name="p8" value="1" /> Nunca
        <br /><br />

        <legend>9. Tengo claros mis sentimientos</legend>
        <input type="radio" id="n41" name="p9" value="5" /> Muy frecuentemente
        <br /><br />
        <input type="radio" id="n42" name="p9" value="4" /> Con bastente frecuencia
        <br /><br />
        <input type="radio" id="n43" name="p9" value="3" /> Algunas veces
        <br /><br />
        <input type="radio" id="n44" name="p9" value="2" /> Raramente
        <br /><br />
        <input type="radio" id="n45" name="p9" value="1" /> Nunca
        <br /><br />

        <legend>10. Frecuentemente puedo definir mis sentimientos</legend>
        <input type="radio" id="n56" name="p10" value="5" /> Muy frecuentemente
        <br /><br />
        <input type="radio" id="n57" name="p10" value="4" /> Con bastente frecuencia
        <br /><br />
        <input type="radio" id="n58" name="p10" value="3" /> Algunas veces
        <br /><br />
        <input type="radio" id="n59" name="p10" value="2" /> Raramente
        <br /><br />
        <input type="radio" id="n60" name="p10" value="1" /> Nunca
        <br /><br />

        <legend>11. Casi siempre se como me siento</legend>
        <input type="radio" id="n61" name="p11" value="5" /> Muy frecuentemente
        <br /><br />
        <input type="radio" id="n62" name="p11" value="4" /> Con bastente frecuencia
        <br /><br />
        <input type="radio" id="n63" name="p11" value="3" /> Algunas veces
        <br /><br />
        <input type="radio" id="n64" name="p11" value="2" /> Raramente
        <br /><br />
        <input type="radio" id="n65" name="p11" value="1" /> Nunca
        <br /><br />

        <legend>12. Normalmente conozco mis sentimientos sobre las personas</legend>
        <input type="radio" id="n66" name="p12" value="5" /> Muy frecuentemente
        <br /><br />
        <input type="radio" id="n67" name="p12" value="4" /> Con bastente frecuencia
        <br /><br />
        <input type="radio" id="n68" name="p12" value="3" /> Algunas veces
        <br /><br />
        <input type="radio" id="n69" name="p12" value="2" /> Raramente
        <br /><br />
        <input type="radio" id="n70" name="p12" value="1" /> Nunca
        <br /><br />

        <legend>13. A menudo me doy cuenta de mis sentimientos en diferentes situaciones</legend>
        <input type="radio" id="n71" name="p13" value="5" /> Muy frecuentemente
        <br /><br />
        <input type="radio" id="n72" name="p13" value="4" /> Con bastente frecuencia
        <br /><br />
        <input type="radio" id="n73" name="p13" value="3" /> Algunas veces
        <br /><br />
        <input type="radio" id="n44" name="p13" value="2" /> Raramente
        <br /><br />
        <input type="radio" id="n75" name="p13" value="1" /> Nunca
        <br /><br />

        <legend>14. Siempre puedo decir como me siento</legend>
        <input type="radio" id="n76" name="p14" value="5" /> Muy frecuentemente
        <br /><br />
        <input type="radio" id="n77" name="p14" value="4" /> Con bastente frecuencia
        <br /><br />
        <input type="radio" id="n78" name="p14" value="3" /> Algunas veces
        <br /><br />
        <input type="radio" id="79" name="p14" value="2" /> Raramente
        <br /><br />
        <input type="radio" id="80" name="p14" value="1" /> Nunca
        <br /><br />

        <legend>15. A veces puedo decir cuales son mis emociones</legend>
        <input type="radio" id="n81" name="p15" value="5" /> Muy frecuentemente
        <br /><br />
        <input type="radio" id="n82" name="p15" value="4" /> Con bastente frecuencia
        <br /><br />
        <input type="radio" id="n83" name="p15" value="3" /> Algunas veces
        <br /><br />
        <input type="radio" id="n84" name="p15" value="2" /> Raramente
        <br /><br />
        <input type="radio" id="n85" name="p15" value="1" /> Nunca
        <br /><br />

        <legend>16. Puedo llegar a comprender mis sentimientos</legend>
        <input type="radio" id="n86" name="p16" value="5" /> Muy frecuentemente
        <br /><br />
        <input type="radio" id="n87" name="p16" value="4" /> Con bastente frecuencia
        <br /><br />
        <input type="radio" id="n88" name="p16" value="3" /> Algunas veces
        <br /><br />
        <input type="radio" id="n89" name="p16" value="2" /> Raramente
        <br /><br />
        <input type="radio" id="n90" name="p16" value="1" /> Nunca
        <br /><br />

        <legend>17. Aunque a veces me siento triste. suelo tener una vision optimista</legend>
        <input type="radio" id="n91" name="p17" value="5" /> Muy frecuentemente
        <br /><br />
        <input type="radio" id="n92" name="p17" value="4" /> Con bastente frecuencia
        <br /><br />
        <input type="radio" id="n93" name="p17" value="3" /> Algunas veces
        <br /><br />
        <input type="radio" id="n94" name="p17" value="2" /> Raramente
        <br /><br />
        <input type="radio" id="n95" name="p17" value="1" /> Nunca
        <br /><br />

        <legend>18. Aunque me sienta mal, procuro pensar en cosas agradables </legend>
        <input type="radio" id="n96" name="p18" value="5" /> Muy frecuentemente
        <br /><br />
        <input type="radio" id="n97" name="p18" value="4" /> Con bastente frecuencia
        <br /><br />
        <input type="radio" id="n98" name="p18" value="3" /> Algunas veces
        <br /><br />
        <input type="radio" id="n99" name="p18" value="2" /> Raramente
        <br /><br />
        <input type="radio" id="n100" name="p18" value="1" /> Nunca
        <br /><br />

        <legend>19. Cuando estoy triste, pienso en todos los placeres de la vida</legend>
        <input type="radio" id="n101" name="p19" value="5" /> Muy frecuentemente
        <br /><br />
        <input type="radio" id="n102" name="p19" value="4" /> Con bastente frecuencia
        <br /><br />
        <input type="radio" id="n103" name="p19" value="3" /> Algunas veces
        <br /><br />
        <input type="radio" id="n104" name="p19" value="2" /> Raramente
        <br /><br />
        <input type="radio" id="n105" name="p19" value="1" /> Nunca
        <br /><br />

        <legend>20. Intento tener pensamientos positivos aunque me siento mal</legend>
        <input type="radio" id="n106" name="p20" value="5" /> Muy frecuentemente
        <br /><br />
        <input type="radio" id="n107" name="p20" value="4" /> Con bastente frecuencia
        <br /><br />
        <input type="radio" id="n108" name="p20" value="3" /> Algunas veces
        <br /><br />
        <input type="radio" id="n109" name="p20" value="2" /> Raramente
        <br /><br />
        <input type="radio" id="n110" name="p20" value="1" /> Nunca
        <br /><br />

        <legend>21. Si doy demasiadas vueltas a las cosas, complicandolas, trato de calmarme</legend>
        <input type="radio" id="n111" name="p21" value="5" /> Muy frecuentemente
        <br /><br />
        <input type="radio" id="n112" name="p21" value="4" /> Con bastente frecuencia
        <br /><br />
        <input type="radio" id="n113" name="p21" value="3" /> Algunas veces
        <br /><br />
        <input type="radio" id="n114" name="p21" value="2" /> Raramente
        <br /><br />
        <input type="radio" id="n115" name="p21" value="1" /> Nunca
        <br /><br />

        <legend>22. Me preocupo por tener un buen estado de animo</legend>
        <input type="radio" id="n116" name="p22" value="5" /> Muy frecuentemente
        <br /><br />
        <input type="radio" id="n117" name="p22" value="4" /> Con bastente frecuencia
        <br /><br />
        <input type="radio" id="n118" name="p22" value="3" /> Algunas veces
        <br /><br />
        <input type="radio" id="n119" name="p22" value="2" /> Raramente
        <br /><br />
        <input type="radio" id="n120" name="p22" value="1" /> Nunca
        <br /><br />

        <legend>23. Tengo mucha energia cuando me siento fekiz</legend>
        <input type="radio" id="n121" name="p23" value="5" /> Muy frecuentemente
        <br /><br />
        <input type="radio" id="n122" name="p23" value="4" /> Con bastente frecuencia
        <br /><br />
        <input type="radio" id="n123" name="p23" value="3" /> Algunas veces
        <br /><br />
        <input type="radio" id="n124" name="p23" value="2" /> Raramente
        <br /><br />
        <input type="radio" id="n125" name="p23" value="1" /> Nunca
        <br /><br />

        <legend>24. Cuando estoy enfadado intento cambiar mi estado de animo</legend>
        <input type="radio" id="n126" name="p24" value="5" /> Muy frecuentemente
        <br /><br />
        <input type="radio" id="n127" name="p24" value="4" /> Con bastente frecuencia
        <br /><br />
        <input type="radio" id="n128" name="p24" value="3" /> Algunas veces
        <br /><br />
        <input type="radio" id="n129" name="p24" value="2" /> Raramente
        <br /><br />
        <input type="radio" id="n130" name="p24" value="1" /> Nunca
        <br /><br />

        <button class="btn btn-outline-secondary">Resultado</button>
        <button class="btn btn-outline-secondary">@Html.ActionLink("Otro Test", "Index")</button>
        <hr class="featurette-divider">

    </form>
    <script>
            // buscar el <form> y guardarlo en una variable
        const form = document.querySelector('form');

            // decir que en el evento enviar se sume el total
        form.addEventListener('submit', obtenerTotal);

        function obtenerTotal(event) {
            // evitar enviar el formulario que ocasiona que se refresque la pagina
            event.preventDefault();

            // obtener todos los input radio
            const formData = new FormData(event.target);

            // convertir los valores a String, o colocar un 0 si no elegieron algo
            const p1 = parseInt(formData.get('p1') || '0', 10);
            const p2 = parseInt(formData.get('p2') || '0', 10);
            const p3 = parseInt(formData.get('p3') || '0', 10);
            const p4 = parseInt(formData.get('p4') || '0', 10);
            const p5 = parseInt(formData.get('p5') || '0', 10);
            const p6 = parseInt(formData.get('p6') || '0', 10);
            const p7 = parseInt(formData.get('p7') || '0', 10);
            const p8 = parseInt(formData.get('p8') || '0', 10);
            const p9 = parseInt(formData.get('p9') || '0', 10);
            const p10 = parseInt(formData.get('p10') || '0', 10);
            const p11 = parseInt(formData.get('p11') || '0', 10);
            const p12 = parseInt(formData.get('p12') || '0', 10);
            const p13 = parseInt(formData.get('p13') || '0', 10);
            const p14 = parseInt(formData.get('p14') || '0', 10);
            const p15 = parseInt(formData.get('p15') || '0', 10);
            const p16 = parseInt(formData.get('p16') || '0', 10);
            const p17 = parseInt(formData.get('p17') || '0', 10);
            const p18 = parseInt(formData.get('p18') || '0', 10);
            const p19 = parseInt(formData.get('p19') || '0', 10);
            const p20 = parseInt(formData.get('p20') || '0', 10);
            const p21 = parseInt(formData.get('p21') || '0', 10);
            const p22 = parseInt(formData.get('p22') || '0', 10);
            const p23 = parseInt(formData.get('p23') || '0', 10);
            const p24 = parseInt(formData.get('p24') || '0', 10);


            const result = p1 + p2 + p3 + p4 + p5 + p6 + p7 + p8 + p9 + p10 + p11 + p12 + p11 + p12 + p13 + p14 + p15 + p16 + p17 + p18 + p19 + p20 + p21 + p22 + p23 + p24;

            if (result < 21) {
                alert("Percepcion: \nDebes de mejorar su percepcion, presta poca atencion. \n\nComprension: \nDebes de mejorar su comprension. \n\nRegulacion: \nDebes mejorar su regulacion.  ");
            }
            else if (result > 22 && result < 32) {
                alert("Percepcion: \nAdecuada percepcion. \n\nComprension: \nAdecuada comprension. \n\nRegulacion: \nAdecuada regulacion.");
            }
            else {
                alert("Percepcion: \nDebes de mejorar su percepcion, presta demasiada atencion. \n\nComprension: \nExcelente comprension. \n\nRegulacion: \nExcelente regulacion.  ");
            }
        }

    </script>

</body>


