
@{
    ViewBag.Title = "Vocacional";
}


<body>
    <hr class="featurette-divider">
    <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light" style="background-image:url(../../Content/img/vocacional.png)">
        <div>
            <h1 class="display-4 text-dark">Test Vocacional</h1>
            <p class="lead text-dark">Para saber que estudiar o cúal es tu verdadera vocación.</p>
        </div>
    </div>
    <hr class="featurette-divider">

    <form>
        <legend>Completa el test y luego obtendras los resultados.</legend>

        <legend>1. De las computadoras, lo que mas me motiva es: </legend>
        <input type="radio" id="n1" name="p1" value="5" /> Conectarme con personas de otras culturas
        <br /><br />
        <input type="radio" id="n2" name="p1" value="4" /> Hacer uso de software de diseño
        <br /><br />
        <input type="radio" id="n3" name="p1" value="3" /> Hacer negocios vía Internet
        <br /><br />
        <input type="radio" id="n4" name="p1" value="2" /> Acceder a información de vanguardia sobre temas cientíﬁcos
        <br /><br />
        <input type="radio" id="n5" name="p1" value="1" /> Conﬁgurar programas computacionales en mi equipo
        <br /><br />

        <legend>2. Mejor es tener</legend>
        <input type="radio" id="n6" name="p2" value="5" /> Una enciclopedia universal
        <br /><br />
        <input type="radio" id="n7" name="p2" value="4" /> Una guitarra eléctrica
        <br /><br />
        <input type="radio" id="n8" name="p2" value="3" /> Una guitarra eléctrica
        <br /><br />
        <input type="radio" id="n9" name="p2" value="2" /> Un microscopio
        <br /><br />
        <input type="radio" id="n10" name="p2" value="1" /> Un telescopio
        <br /><br />

        <legend>3. Si tuviera la oportunidad de viajar, preferiría conocer:</legend>
        <input type="radio" id="n11" name="p3" value="5" /> Las culturas aborígenes del Amazonas
        <br /><br />
        <input type="radio" id="n12" name="p3" value="4" /> El Museo del Louvre de Paris
        <br /><br />
        <input type="radio" id="n13" name="p3" value="3" /> La Bolsa de Valores de Nueva York
        <br /><br />
        <input type="radio" id="n14" name="p3" value="2" /> Las especies protegidas de las Islas Galápagos
        <br /><br />
        <input type="radio" id="n15" name="p3" value="1" /> Las especies protegidas de las Islas Galápagos
        <br /><br />

        <legend>4. Me gusta mas</legend>
        <input type="radio" id="n16" name="p4" value="5" /> Disertar al curso sobre una materia que domino
        <br /><br />
        <input type="radio" id="n17" name="p4" value="4" /> Pintar cuadros al óleo
        <br /><br />
        <input type="radio" id="n18" name="p4" value="3" /> Hacer gráﬁcas de mis ingresos y gastos mensuales
        <br /><br />
        <input type="radio" id="n19" name="p4" value="2" /> Hacer experimentos en un laboratorio químico
        <br /><br />
        <input type="radio" id="n20" name="p4" value="1" /> Armar y desarmar computadores
        <br /><br />

        <legend>5. Las ideas más interesantes están relacionadas con:</legend>
        <input type="radio" id="n21" name="p5" value="5" /> Las Ciencias Sociales
        <br /><br />
        <input type="radio" id="n22" name="p5" value="4" /> El Arte
        <br /><br />
        <input type="radio" id="n23" name="p5" value="3" /> La Economía
        <br /><br />
        <input type="radio" id="n24" name="p5" value="2" /> La Biología
        <br /><br />
        <input type="radio" id="n25" name="p5" value="1" /> La Física
        <br /><br />

        <legend>6. En una salida a terreno, me interesaría conocer:</legend>
        <input type="radio" id="n26" name="p6" value="5" /> El museo de Historia Natural
        <br /><br />
        <input type="radio" id="n27" name="p6" value="4" /> El museo de Arte Contemporáneo
        <br /><br />
        <input type="radio" id="28" name="p6" value="3" /> La Comisión Económica del Senado
        <br /><br />
        <input type="radio" id="n29" name="p6" value="2" /> El Instituto Médico Legal (Morgue)
        <br /><br />
        <input type="radio" id="n30" name="p6" value="1" /> Una Central Hidroeléctrica
        <br /><br />

        <legend>7. En la producción de una película, me gustaría participar en:</legend>
        <input type="radio" id="n31" name="p7" value="5" /> Elaboración del guión
        <br /><br />
        <input type="radio" id="n32" name="p7" value="4" /> Actuación
        <br /><br />
        <input type="radio" id="n33" name="p7" value="3" /> Publicidad y marketing
        <br /><br />
        <input type="radio" id="n34" name="p7" value="2" /> Elección y preservación de los escenarios naturales
        <br /><br />
        <input type="radio" id="n35" name="p7" value="1" /> Edición de sonido y digitalización
        <br /><br />


        <legend>8. Como tema de conversación preﬁero:</legend>
        <input type="radio" id="n36" name="p8" value="5" /> La comunicación en las parejas
        <br /><br />
        <input type="radio" id="n37" name="p8" value="4" /> Las diferencias y alcances entre la música clásica y el jazz
        <br /><br />
        <input type="radio" id="n38" name="p8" value="3" /> Los tratados de Libre Comercio
        <br /><br />
        <input type="radio" id="n39" name="p8" value="2" /> Las aplicaciones de la biotecnología molecular
        <br /><br />
        <input type="radio" id="n40" name="p8" value="1" /> El control satelital para autopistas de alta velocidad
        <br /><br />

        <legend>9. Para conocer el desarrollo de una cultura, observaría de preferencia</legend>
        <input type="radio" id="n41" name="p9" value="5" /> El desarrollo del pensamiento ﬁlosóﬁco
        <br /><br />
        <input type="radio" id="n42" name="p9" value="4" /> El desarrollo de las artes
        <br /><br />
        <input type="radio" id="n43" name="p9" value="3" /> El crecimiento económico
        <br /><br />
        <input type="radio" id="n44" name="p9" value="2" /> El progreso de la medicina
        <br /><br />
        <input type="radio" id="n45" name="p9" value="1" /> Los avances en tecnología e ingeniería
        <br /><br />

        <legend>10. Si tuviese que trabajar en el área agrícola, elegiría ser</legend>
        <input type="radio" id="n56" name="p10" value="5" /> Supervisor y encargado de recursos humanos y capacitación
        <br /><br />
        <input type="radio" id="n57" name="p10" value="4" /> Paisajista o diseñador de áreas verdes
        <br /><br />
        <input type="radio" id="n58" name="p10" value="3" /> Administrador de una empresa exportadora de semillas
        <br /><br />
        <input type="radio" id="n59" name="p10" value="2" /> Encargado de los procesos de siembra, cultivo y cosecha
        <br /><br />
        <input type="radio" id="n60" name="p10" value="1" /> Planiﬁcador de un sistema de riego eﬁciente
        <br /><br />

        <legend>11. Preferiría inscribirme en un curso de:</legend>
        <input type="radio" id="n61" name="p11" value="5" /> Idiomas
        <br /><br />
        <input type="radio" id="n62" name="p11" value="4" /> Malabarismo
        <br /><br />
        <input type="radio" id="n63" name="p11" value="3" /> Liderazgo
        <br /><br />
        <input type="radio" id="n64" name="p11" value="2" /> Clonación en mamíferos superiores
        <br /><br />
        <input type="radio" id="n65" name="p11" value="1" /> Uso de la energía geotérmica
        <br /><br />

        <legend>12. Si tuviera que presentar un proyecto artístico, probablemente sería:</legend>
        <input type="radio" id="n66" name="p12" value="5" /> Un ensayo literario
        <br /><br />
        <input type="radio" id="n67" name="p12" value="4" /> Un cortometraje
        <br /><br />
        <input type="radio" id="n68" name="p12" value="3" /> Una campaña publicitaria sobre un producto
        <br /><br />
        <input type="radio" id="n69" name="p12" value="2" /> Un modelo anatómico
        <br /><br />
        <input type="radio" id="n70" name="p12" value="1" /> Un robot musical
        <br /><br />

        <legend>13. Si tuviese que hacer un trabajo de investigación, me inclinaría por:</legend>
        <input type="radio" id="n71" name="p13" value="5" /> Los efectos de los medios de comunicación de masas en las persona
        <br /><br />
        <input type="radio" id="n72" name="p13" value="4" /> La evolución de la música folklórica en nuestro país
        <br /><br />
        <input type="radio" id="n73" name="p13" value="3" /> El impacto de la globalización económica en la producción nacional
        <br /><br />
        <input type="radio" id="n44" name="p13" value="2" /> Los últimos avances en tratamiento para el cáncer
        <br /><br />
        <input type="radio" id="n75" name="p13" value="1" /> El desarrollo de la robótica
        <br /><br />

        <legend>14. De los siguientes trabajos me resultaría más interesante participar en:</legend>
        <input type="radio" id="n76" name="p14" value="5" /> Un programa de mejoramiento de políticas públicas
        <br /><br />
        <input type="radio" id="n77" name="p14" value="4" /> El diseño de la escenografía de una obra teatral
        <br /><br />
        <input type="radio" id="n78" name="p14" value="3" /> Un plan de superación de la pobreza
        <br /><br />
        <input type="radio" id="79" name="p14" value="2" /> Una investigación sobre los fármacos contra el virus del Sida
        <br /><br />
        <input type="radio" id="80" name="p14" value="1" /> Un proyecto de la gran minería
        <br /><br />

        <legend>15. Me llamaría más la atención el siguiente reportaje:</legend>
        <input type="radio" id="n81" name="p15" value="5" /> Formas de facilitar la comunicación entre las personas
        <br /><br />
        <input type="radio" id="n82" name="p15" value="4" /> Historia del cine
        <br /><br />
        <input type="radio" id="n83" name="p15" value="3" /> Fórmulas para crear una micro empresa
        <br /><br />
        <input type="radio" id="n84" name="p15" value="2" /> La obesidad y sus efectos
        <br /><br />
        <input type="radio" id="n85" name="p15" value="1" /> Nuevos avances en inteligencia artiﬁcial
        <br /><br />

        <legend>16. Cuando camino por la ciudad, me ﬁjo en:</legend>
        <input type="radio" id="n86" name="p16" value="5" /> El aislamiento urbano
        <br /><br />
        <input type="radio" id="n87" name="p16" value="4" /> El diseño urbano de sus calles y área verdes
        <br /><br />
        <input type="radio" id="n88" name="p16" value="3" /> Las ventas del comercio ambulante
        <br /><br />
        <input type="radio" id="n89" name="p16" value="2" /> El estado de salud de los animales callejeros
        <br /><br />
        <input type="radio" id="n90" name="p16" value="1" /> La construcción de los nuevos ediﬁcios
        <br /><br />

        <legend>17. En una empresa, el rol que más me acomodaría es:</legend>
        <input type="radio" id="n91" name="p17" value="5" /> Encargarme de las relaciones públicas y del bienestar del personal
        <br /><br />
        <input type="radio" id="n92" name="p17" value="4" /> Diseñar la imagen corporativa y la campaña publicitaria
        <br /><br />
        <input type="radio" id="n93" name="p17" value="3" /> Administrar las ﬁnanzas
        <br /><br />
        <input type="radio" id="n94" name="p17" value="2" /> Encargarme que el trabajo no atente contra la salud de los trabajadores
        <br /><br />
        <input type="radio" id="n95" name="p17" value="1" /> Deﬁnir la adquisición de nuevas maquinarias para la producción
        <br /><br />

        <legend>18. El rating televisivo debería ser alto frente a la siguiente noticia</legend>
        <input type="radio" id="n96" name="p18" value="5" /> Discusión en el Senado sobre la legalidad de las sectas
        <br /><br />
        <input type="radio" id="n97" name="p18" value="4" /> Alguien del pais obtiene el Primer Premio en el Festival de Venecia
        <br /><br />
        <input type="radio" id="n98" name="p18" value="3" /> El desempleo puede volverse una enfermedad crónica en la economía nacional
        <br /><br />
        <input type="radio" id="n99" name="p18" value="2" /> Fuerte rebrote de virus respiratorio traerá consecuencias esta primavera
        <br /><br />
        <input type="radio" id="n100" name="p18" value="1" /> Generadores solares como solución energética
        <br /><br />

        <legend>19. Si participara en un campamento experimental en un lugar aislado, preferiría:</legend>
        <input type="radio" id="n101" name="p19" value="5" /> Conformar un equipo de apoyo emocional para mantener un ambiente positivo
        <br /><br />
        <input type="radio" id="n102" name="p19" value="4" /> Formar un equipo que elabora un testimonio artístico de su estadía en el lugar
        <br /><br />
        <input type="radio" id="n103" name="p19" value="3" /> Recoger y contabilizar los recursos del grupo para su uso ordenado
        <br /><br />
        <input type="radio" id="n104" name="p19" value="2" /> Atender a las necesidades sanitarias y las condiciones de salud del grupo
        <br /><br />
        <input type="radio" id="n105" name="p19" value="1" /> Construir el hábitat con los recursos del lugar
        <br /><br />

        <legend>20. De los siguientes temas, el que me parece más atractivo es:</legend>
        <input type="radio" id="n106" name="p20" value="5" /> Hipótesis sobre el poblamiento americano
        <br /><br />
        <input type="radio" id="n107" name="p20" value="4" /> Estética de las pinturas rupestres
        <br /><br />
        <input type="radio" id="n108" name="p20" value="3" /> Estrategias de las empresas exitosas
        <br /><br />
        <input type="radio" id="n109" name="p20" value="2" /> Implicaciones del descubrimiento del ADN
        <br /><br />
        <input type="radio" id="n110" name="p20" value="1" /> Diseño y optimización de motores de aviones
        <br /><br />

        <legend>21. Me gustaría conocer o haber conocido a:</legend>
        <input type="radio" id="n111" name="p21" value="5" /> Sigmund Freud
        <br /><br />
        <input type="radio" id="n112" name="p21" value="4" /> Wolfgang A. Mozart
        <br /><br />
        <input type="radio" id="n113" name="p21" value="3" /> Bill Gate
        <br /><br />
        <input type="radio" id="n114" name="p21" value="2" /> Pierre y Marie Curie
        <br /><br />
        <input type="radio" id="n115" name="p21" value="1" /> Albert Einstein
        <br /><br />

        <legend>22. De estos pares de asignaturas preﬁero:</legend>
        <input type="radio" id="n116" name="p22" value="5" /> Historia y Lenguaje
        <br /><br />
        <input type="radio" id="n117" name="p22" value="4" /> Artes Plásticas y Música
        <br /><br />
        <input type="radio" id="n118" name="p22" value="3" /> Matemática y Economía
        <br /><br />
        <input type="radio" id="n119" name="p22" value="2" /> Biología y Química
        <br /><br />
        <input type="radio" id="n120" name="p22" value="1" /> Matemática y Física
        <br /><br />

        <legend>23. La sección del diario que leería primero es:</legend>
        <input type="radio" id="n121" name="p23" value="5" /> Política
        <br /><br />
        <input type="radio" id="n122" name="p23" value="4" /> Arte
        <br /><br />
        <input type="radio" id="n123" name="p23" value="3" /> Economía
        <br /><br />
        <input type="radio" id="n124" name="p23" value="2" /> Salud
        <br /><br />
        <input type="radio" id="n125" name="p23" value="1" /> Computación
        <br /><br />

        <legend>24. Podría estar largo rato conversando con:</legend>
        <input type="radio" id="n126" name="p24" value="5" /> Un antropólogo
        <br /><br />
        <input type="radio" id="n127" name="p24" value="4" /> Un músico
        <br /><br />
        <input type="radio" id="n128" name="p24" value="3" /> Un empresario
        <br /><br />
        <input type="radio" id="n129" name="p24" value="2" /> Un médico
        <br /><br />
        <input type="radio" id="n130" name="p24" value="1" /> Un geólogo
        <br /><br />

        <legend>25. Si pudiera elegir una comunidad de chat, ésta sería:</legend>
        <input type="radio" id="n131" name="p25" value="5" /> Desarrollo y crecimiento personal
        <br /><br />
        <input type="radio" id="n132" name="p25" value="4" /> Danza y música orienta
        <br /><br />
        <input type="radio" id="n133" name="p25" value="3" /> Nuevas posibilidades de inversión on line
        <br /><br />
        <input type="radio" id="n134" name="p25" value="2" /> Desarrollo vitivinícola
        <br /><br />
        <input type="radio" id="n135" name="p25" value="1" /> Construcción de modelos a escala
        <br /><br />

        <legend>26. Preﬁero ver en televisión:</legend>
        <input type="radio" id="n136" name="p26" value="5" /> El programa “La Belleza del Pensar”
        <br /><br />
        <input type="radio" id="n137" name="p26" value="4" /> El programa “Maestros de la Música”
        <br /><br />
        <input type="radio" id="n138" name="p26" value="3" /> Un reportaje sobre “Empresarios Jóvenes”
        <br /><br />
        <input type="radio" id="n139" name="p26" value="2" /> El programa de salud “Taller de las Ciencias”
        <br /><br />
        <input type="radio" id="n140" name="p26" value="1" /> Un reportaje sobre “Las Señales Radiales del Universo”
        <br /><br />

        <legend>27. Lo que más me llama la atención de la similitud entre monos y seres humanos es que ambos:</legend>
        <input type="radio" id="n141" name="p27" value="5" /> Forman familias
        <br /><br />
        <input type="radio" id="n142" name="p27" value="4" /> Poseen un alto grado de expresión corporal
        <br /><br />
        <input type="radio" id="n143" name="p27" value="3" /> Se identiﬁcan con claridad los niveles de liderazgo
        <br /><br />
        <input type="radio" id="n144" name="p27" value="2" /> Pertenecen a una misma especie en constante evolución
        <br /><br />
        <input type="radio" id="n145" name="p27" value="1" /> Pueden construir sus hábitats con los materiales que tienen a disposición
        <br /><br />

        <legend>28. Como pasajero de un avión comercial, me interesaría:</legend>
        <input type="radio" id="n146" name="p28" value="5" /> Conocer a los otros pasajeros y el por qué de sus viajes
        <br /><br />
        <input type="radio" id="n147" name="p28" value="4" /> Tomar fotografías de las nubes y del paisaje
        <br /><br />
        <input type="radio" id="n148" name="p28" value="3" /> Comparar la relación entre el costo del viaje y calidad del servicio
        <br /><br />
        <input type="radio" id="n149" name="p28" value="2" /> Conocer el impacto contaminante del vuelo en el ecosistema cercano al aeropuerto
        <br /><br />
        <input type="radio" id="n150" name="p28" value="1" /> Conocer los mecanismos y datos de vuelo del instrumental de navegación
        <br /><br />

        <legend>29. Si tuviera que adquirir un libro, preferiría uno que:</legend>
        <input type="radio" id="n151" name="p29" value="5" /> Describa en detalle el ambiente humano y los caracteres de los personajes
        <br /><br />
        <input type="radio" id="n152" name="p29" value="4" /> Contenga buena diagramación y fotografías artísticas
        <br /><br />
        <input type="radio" id="n153" name="p29" value="3" /> Trate sobre el liderazgo y la autonomía de los equipos de trabajo
        <br /><br />
        <input type="radio" id="n154" name="p29" value="2" /> Describa la evolución de los reptiles y anﬁbios del mundo
        <br /><br />
        <input type="radio" id="n155" name="p29" value="1" /> Contenga temas técnicos y buenos gráﬁcos explicativos
        <br /><br />

        <button class="btn btn-outline-secondary">Resultado</button>
        <button class="btn btn-outline-secondary">@Html.ActionLink("Otro Test", "Index")</button>
        <hr class="featurette-divider">

    </form>
    <script>
        // buscar el <form> y guardarlo en una variable
        const form = document.querySelector('form');

        // decir que en el evento enviar se sume el total
        form.addEventListener('submit', obtenerTotal);

        function obtenerTotal(event) {
            // evitar enviar el formulario que ocasiona que se refresque la pagina
            event.preventDefault();

            // obtener todos los input radio
            const formData = new FormData(event.target);

            // convertir los valores a String, o colocar un 0 si no elegieron algo
            const p1 = parseInt(formData.get('p1') || '0', 10);
            const p2 = parseInt(formData.get('p2') || '0', 10);
            const p3 = parseInt(formData.get('p3') || '0', 10);
            const p4 = parseInt(formData.get('p4') || '0', 10);
            const p5 = parseInt(formData.get('p5') || '0', 10);
            const p6 = parseInt(formData.get('p6') || '0', 10);
            const p7 = parseInt(formData.get('p7') || '0', 10);
            const p8 = parseInt(formData.get('p8') || '0', 10);
            const p9 = parseInt(formData.get('p9') || '0', 10);
            const p10 = parseInt(formData.get('p10') || '0', 10);
            const p11 = parseInt(formData.get('p11') || '0', 10);
            const p12 = parseInt(formData.get('p12') || '0', 10);
            const p13 = parseInt(formData.get('p13') || '0', 10);
            const p14 = parseInt(formData.get('p14') || '0', 10);
            const p15 = parseInt(formData.get('p15') || '0', 10);
            const p16 = parseInt(formData.get('p16') || '0', 10);
            const p17 = parseInt(formData.get('p17') || '0', 10);
            const p18 = parseInt(formData.get('p18') || '0', 10);
            const p19 = parseInt(formData.get('p19') || '0', 10);
            const p20 = parseInt(formData.get('p20') || '0', 10);
            const p21 = parseInt(formData.get('p21') || '0', 10);
            const p22 = parseInt(formData.get('p22') || '0', 10);
            const p23 = parseInt(formData.get('p23') || '0', 10);
            const p24 = parseInt(formData.get('p24') || '0', 10);
            const p25 = parseInt(formData.get('p25') || '0', 10);
            const p26 = parseInt(formData.get('p26') || '0', 10);
            const p27 = parseInt(formData.get('p27') || '0', 10);
            const p28 = parseInt(formData.get('p28') || '0', 10);
            const p29 = parseInt(formData.get('p29') || '0', 10);

            const result = p1 + p2 + p3 + p4 + p5 + p6 + p7 + p8 + p9 + p10 + p11 + p12 + p11 + p12 + p13 + p14 + p15 + p16 + p17 + p18 + p19 + p20 + p21 + p22 + p23 + p24 + p25 + p26 + p27 + p28 + p29;

            if (result > 73) { //Humanidades
                alert("Te puede interesar la materia de Humanidades");
            }
            else if (result > 58) { //Arte
                alert("Te puede interesar Arte");
            }
            else if (result > 42) { //Administracion y Economia
                alert("Te puede interesar las carretas de Administracion y Economia");
            }
            else if (result > 29) { //Biologia y Quimica
                alert("Te pueden interesar las carreraas de Biologia y Quimica");
            }
            else { //Matematicas y Fisica
                alert("Te pueden interesar las carreras de Matematicas y Fisica");
            }
        }

    </script>

</body>
