@{
    ViewBag.Title = "Bienvenido";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar Sesion</title>
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Content/sb-admin-2.min.css" />
</head>
<body>
    <div class="fondo">
        <h1>Test's</h1>
        <img src="~/Content/img/bienvenido.jpg" style=width: 100px; height: 100px>
    </div>
</body>
</html>
