@{
    ViewBag.Title = "Contacto";
}
<div class="container">
    <div class="row">

        <div class="col-md-12">
            <div class="card">
                <div class="card-body btn bg-white text-dark">
                    <h6 class="text-left mt-3 text-center">Colaboradores </h6>
                    <hr />
                    <h6>Erwin Howard Herrera</h6>
                    <a href="https://www.facebook.com/erwin.howard.1"><i class="fab fa-facebook text-primary"></i></a>
                    <h6>Paula Ramos Verdin</h6>

                    <h6>Victoria Valeria </h6>

                </div>
            </div>
        </div>
    </div>
</div>
