
@{
    ViewBag.Title = "Laboral";
}

<body>
    <hr class="featurette-divider">
    <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light" style="background-image:url(../../Content/img/tablero.jpg)">
        <div>
            <h1 class="display-4 text-white">Test de evaluacion de desempeño laboral</h1>
            <p class="lead text-white">Este test de desempeño laboral ayudara a obtener retroalimentacion sobre el compromiso de los empleados</p>
        </div>
    </div>
    <hr class="featurette-divider">

    <form>
        <legend>Por favor, comenta que tan de acuerdo te encuentras con lo siguiente:</legend>
        <legend>1. Puede verme trabajando aqui en los proximos cinco años</legend>
        <input type="radio" id="n1" name="p1" value="5" /> Completamente deacuerdo
        <br /><br />
        <input type="radio" id="n2" name="p1" value="4" /> De acuerdo
        <br /><br />
        <input type="radio" id="n3" name="p1" value="3" /> Neutro
        <br /><br />
        <input type="radio" id="n4" name="p1" value="2" /> En desacuerdo
        <br /><br />
        <input type="radio" id="n5" name="p1" value="1" /> Completamente en desacuerdo
        <br /><br />

        <legend>2. Entiendo claramente las estrategias para lograr los objetivos de la empresa</legend>
        <input type="radio" id="n6" name="p2" value="5" /> Completamente deacuerdo
        <br /><br />
        <input type="radio" id="n7" name="p2" value="4" /> De acuerdo
        <br /><br />
        <input type="radio" id="n8" name="p2" value="3" /> Neutro
        <br /><br />
        <input type="radio" id="n9" name="p2" value="2" /> En desacuerdo
        <br /><br />
        <input type="radio" id="n10" name="p2" value="1" /> Completamente en desacuerdo
        <br /><br />

        <legend>3. Puedo ver con claridad como mi trabajo influye en el exito general de la compañia</legend>
        <input type="radio" id="n11" name="p3" value="5" /> Completamente deacuerdo
        <br /><br />
        <input type="radio" id="n12" name="p3" value="4" /> De acuerdo
        <br /><br />
        <input type="radio" id="n13" name="p3" value="3" /> Neutro
        <br /><br />
        <input type="radio" id="n14" name="p3" value="2" /> En desacuerdo
        <br /><br />
        <input type="radio" id="n15" name="p3" value="1" /> Completamente en desacuerdo
        <br /><br />

        <legend>4. Se lo que se espera de mi para lograr los logros y objetivos</legend>
        <input type="radio" id="n16" name="p4" value="5" /> Completamente deacuerdo
        <br /><br />
        <input type="radio" id="n17" name="p4" value="4" /> De acuerdo
        <br /><br />
        <input type="radio" id="n18" name="p4" value="3" /> Neutro
        <br /><br />
        <input type="radio" id="n19" name="p4" value="2" /> En desacuerdo
        <br /><br />
        <input type="radio" id="n20" name="p4" value="1" /> Completamente en desacuerdo
        <br /><br />

        <legend>5. Se siente como si todos estuvieramos en el mismo equipo</legend>
        <input type="radio" id="n21" name="p5" value="5" /> Completamente deacuerdo
        <br /><br />
        <input type="radio" id="n22" name="p5" value="4" /> De acuerdo
        <br /><br />
        <input type="radio" id="n23" name="p5" value="3" /> Neutro
        <br /><br />
        <input type="radio" id="n24" name="p5" value="2" /> En desacuerdo
        <br /><br />
        <input type="radio" id="n25" name="p5" value="1" /> Completamente en desacuerdo
        <br /><br />

        <legend>6. Mi gerente reconoce mi potencial y aprovecha mis fortalezas</legend>
        <input type="radio" id="n26" name="p6" value="5" /> Completamente deacuerdo
        <br /><br />
        <input type="radio" id="n27" name="p6" value="4" /> De acuerdo
        <br /><br />
        <input type="radio" id="28" name="p6" value="3" /> Neutro
        <br /><br />
        <input type="radio" id="n29" name="p6" value="2" /> En desacuerdo
        <br /><br />
        <input type="radio" id="n30" name="p6" value="1" /> Completamente en desacuerdo
        <br /><br />

        <legend>7. Siempre doy lo mejor en cualquier actividad que realice</legend>
        <input type="radio" id="n31" name="p7" value="5" /> Completamente deacuerdo
        <br /><br />
        <input type="radio" id="n32" name="p7" value="4" /> De acuerdo
        <br /><br />
        <input type="radio" id="n33" name="p7" value="3" /> Neutro
        <br /><br />
        <input type="radio" id="n34" name="p7" value="2" /> En desacuerdo
        <br /><br />
        <input type="radio" id="n35" name="p7" value="1" /> Completamente en desacuerdo
        <br /><br />


        <legend>8. Estoy orgulloso de formar parte de esta compañia</legend>
        <input type="radio" id="n36" name="p8" value="5" /> Completamente deacuerdo
        <br /><br />
        <input type="radio" id="n37" name="p8" value="4" /> De acuerdo
        <br /><br />
        <input type="radio" id="n38" name="p8" value="3" /> Neutro
        <br /><br />
        <input type="radio" id="n39" name="p8" value="2" /> En desacuerdo
        <br /><br />
        <input type="radio" id="n40" name="p8" value="1" /> Completamente en desacuerdo
        <br /><br />

        <legend>9. Siempre recomiendo la empresa a otras persona</legend>
        <input type="radio" id="n41" name="p9" value="5" /> Completamente deacuerdo
        <br /><br />
        <input type="radio" id="n42" name="p9" value="4" /> De acuerdo
        <br /><br />
        <input type="radio" id="n43" name="p9" value="3" /> Neutro
        <br /><br />
        <input type="radio" id="n44" name="p9" value="2" /> En desacuerdo
        <br /><br />
        <input type="radio" id="n45" name="p9" value="1" /> Completamente en desacuerdo
        <br /><br />

        <legend>10. Los lideres de la empresa realmente sabem a donde se dirigen</legend>
        <input type="radio" id="n56" name="p10" value="5" /> Completamente deacuerdo
        <br /><br />
        <input type="radio" id="n57" name="p10" value="4" /> De acuerdo
        <br /><br />
        <input type="radio" id="n58" name="p10" value="3" /> Neutro
        <br /><br />
        <input type="radio" id="n59" name="p10" value="2" /> En desacuerdo
        <br /><br />
        <input type="radio" id="n60" name="p10" value="1" /> Completamente en desacuerdo
        <br /><br />

        <legend>11. Creo que en la mision que tengo en la empresa</legend>
        <input type="radio" id="n61" name="p11" value="5" /> Completamente deacuerdo
        <br /><br />
        <input type="radio" id="n62" name="p11" value="4" /> De acuerdo
        <br /><br />
        <input type="radio" id="n63" name="p11" value="3" /> Neutro
        <br /><br />
        <input type="radio" id="n64" name="p11" value="2" /> En desacuerdo
        <br /><br />
        <input type="radio" id="n65" name="p11" value="1" /> Completamente en desacuerdo
        <br /><br />

        <legend>12. Creo en el enfoque de los lideres para lograr los objetivos</legend>
        <input type="radio" id="n66" name="p12" value="5" /> Completamente deacuerdo
        <br /><br />
        <input type="radio" id="n67" name="p12" value="4" /> De acuerdo
        <br /><br />
        <input type="radio" id="n68" name="p12" value="3" /> Neutro
        <br /><br />
        <input type="radio" id="n69" name="p12" value="2" /> En desacuerdo
        <br /><br />
        <input type="radio" id="n70" name="p12" value="1" /> Completamente en desacuerdo
        <br /><br />

        <button class="btn btn-outline-secondary">Resultado</button>
        <button class="btn btn-outline-secondary">@Html.ActionLink("Otro Test", "Index")</button>
        <hr class="featurette-divider">

    </form>
    <script>
            // buscar el <form> y guardarlo en una variable
        const form = document.querySelector('form');

            // decir que en el evento enviar se sume el total
        form.addEventListener('submit', obtenerTotal);

        function obtenerTotal(event) {
            // evitar enviar el formulario que ocasiona que se refresque la pagina
            event.preventDefault();

            // obtener todos los input radio
            const formData = new FormData(event.target);

            // convertir los valores a String, o colocar un 0 si no elegieron algo
            const p1 = parseInt(formData.get('p1') || '0', 10);
            const p2 = parseInt(formData.get('p2') || '0', 10);
            const p3 = parseInt(formData.get('p3') || '0', 10);
            const p4 = parseInt(formData.get('p4') || '0', 10);
            const p5 = parseInt(formData.get('p5') || '0', 10);
            const p6 = parseInt(formData.get('p6') || '0', 10);
            const p7 = parseInt(formData.get('p7') || '0', 10);
            const p8 = parseInt(formData.get('p8') || '0', 10);
            const p9 = parseInt(formData.get('p9') || '0', 10);
            const p10 = parseInt(formData.get('p10') || '0', 10);
            const p11 = parseInt(formData.get('p11') || '0', 10);
            const p12 = parseInt(formData.get('p12') || '0', 10);


            const result = p1 + p2 + p3 + p4 + p5 + p6 + p7 + p8 + p9 + p10 + p11 + p12;

            if (result > 30) {
                alert("El empleado acredito el Test");
            }
            else {
                alert("El empleado le falta retroaliemtacion de la empresa");
            }

        }

    </script>

</body>

